<app-app-header></app-app-header>
<div class="container">
    <mat-card class="invoice-card">
        <mat-card-header>
          <mat-card-title>Акты PDF</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p>1. Выберите Регион</p>
          <mat-form-field style="width: 300px;">
            <mat-label>Регион</mat-label>
            <mat-select [(value)]="selectedCity">
              <mat-option *ngFor="let city of cities" [value]="city.value">{{ city.name }}</mat-option>
            </mat-select>
            <mat-hint align="end"></mat-hint>
          </mat-form-field>
          <mat-divider></mat-divider>
          <p>2. Выберите файл (<a href="/files/example.xlsx" download>Образец файла Excel</a>)</p>
          <div *ngIf="selectedFileName" class="selected-file-label">
            Выбранный файл: {{ selectedFileName }}
          </div>
          <input #xlsxInput hidden="true" type="file" onclick="this.value=null" (change)="xlsxInputChange($event)" accept=".xlsx"/>
          <button mat-flat-button class="file-item" color="primary" (click)="xlsxInput.click()">Выбрать</button>  
          <mat-divider></mat-divider>
          <p>3. Загрузите файл и сгенерируйте акты</p>
          <button mat-flat-button color="primary" [disabled]="!formData" (click)="onGenerate()">Загрузить</button>
        </mat-card-content>
        <mat-card-actions class="center">
            <div *ngIf="showFinishText" class="finish-text">{{finishText}}</div>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>

      <div class="table-container">
        <table mat-table
              [dataSource]="files" multiTemplateDataRows matSort
              class="mat-elevation-z8">
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0.1;"> ID </th>
            <td mat-cell *matCellDef="let element" style="flex: 0.1;"> {{element.ID}} </td>
          </ng-container>
          <ng-container matColumnDef="CreatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-uploadDateTime"> Дата загрузки </th>
            <td mat-cell *matCellDef="let element" class="mat-column-uploadDateTime"> {{ element.CreatedAt | date: 'M/d/yy, h:mm a' }} </td>
          </ng-container>
          <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef class="mat-column-sourceFileName"> Наименование файла </th>
              <td mat-cell *matCellDef="let element" class="mat-column-sourceFileName"> {{ element.originalFileName? element.originalFileName: element.fileName}} </td>
          </ng-container>
          <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef class="mat-column-sourceFileName"> Регион </th>
            <td mat-cell *matCellDef="let element" class="mat-column-sourceFileName"> {{ getRegionName(element.region) }} </td>
        </ng-container>
          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Размер файла </th>
            <td mat-cell *matCellDef="let element"> {{ element.size | fileSize }} </td>
        </ng-container>
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-uploadStatus"> Статус </th>
              <td mat-cell *matCellDef="let element" class="mat-column-uploadStatus" [ngStyle]="{
                  'color': element.status === 'Complete' ? 'green' : 
                           element.status === 'Pending' ? 'grey' : 
                           element.status === 'Failed' ? 'red' : 'black'
              }"> {{ statusTranslations[element.status] }} </td>
          </ng-container>
          <ng-container matColumnDef="downloadLink">
            <th mat-header-cell *matHeaderCellDef><button mat-icon-button (click)="refreshPage()" style="margin-left: auto;">
              <mat-icon>refresh</mat-icon>
          </button></th>
            <td mat-cell *matCellDef="let element">
              <a mat-button color="primary" (click)="downloadFile(element)" download>
                <mat-icon>file_download</mat-icon>
              </a>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                @if (expandedElement === element) {
                  <mat-icon>keyboard_arrow_up</mat-icon>
                } @else {
                  <mat-icon>keyboard_arrow_down</mat-icon>
                }
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div class="file-list">
                    <div class="file-item" *ngFor="let item of element.files; let i = index">
                      <mat-card>
                        <mat-card-content>
                          <div>
                            <strong>{{i + 1 }}. </strong>
                            <strong>Файл:</strong> {{ item.fileName }} 
                            <strong>Размер:</strong> {{ item.size | fileSize }}
                          </div>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button color="primary" (click)="downloadFile(item)">Скачать</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[20, 50, 100]"
                showFirstLastButtons
                aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    
</div>

