.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
}

.finish-text {
    color: green;
}  

.invoice-card {
    width: 550px;
    margin-right: 30px;
    margin-left: 20px;
}

.table-container {
    width: 100%;
    overflow: auto; /* Add overflow scroll for smaller screens */
    margin-right: 30px;
}

.max-width {
    flex: 1; /* Allow the Source File Name column to take up remaining space */
    max-width: 300px; /* Set max-width for Source File Name column */
}

.mat-column-uploadDateTime,
.mat-column-sourceFileName,
.mat-column-uploadStatus {
    text-align: left; /* Align the text in cells to the left */
}

.center {
    align-items: center;
}  

.selected-file-label {
    display: flex;
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }


  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  /* .example-element-detail {
    overflow: hidden;
    display: flex;
  } */
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    /* display: block; */
    /* margin-bottom: 10px; Adjust the margin as needed to separate the divs vertically */
  }


  .file-list {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .file-item {
    margin-bottom: 20px;
  }
  
  .mat-card {
    width: 400px;
  }
  
  .mat-card-content {
    padding: 20px;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    /* padding: 0 20px 20px; */
  }
  
  