<app-app-header></app-app-header>
<div class="container">
  <div class="title-container">
    <h3>Пользователи</h3>
  </div>
  <div class="button-container">
    <button mat-button color="primary" (click)="openAddUserDialog()">
      <mat-icon>add</mat-icon>
      Добавить
    </button>
  </div>
  <div class="table-container">
    <mat-table [dataSource]="usersData" class="mat-elevation-z8">
      <!-- Define your columns here -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let user">{{ user.ID }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Логин</th>
        <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef>Дата изменения</th>
        <td mat-cell *matCellDef="let user">{{ user.UpdatedAt | date }}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Телефон</th>
        <td mat-cell *matCellDef="let user">{{ user.phone_number }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button mat-button color="basic" (click)="editUser(user)">Изменить</button>
          <button mat-button color="warn" (click)="deleteUser(user)">Удалить</button>
        </td>
      </ng-container>

      <!-- Define header and row definitions -->
      <tr mat-header-row *matHeaderRowDef="['ID', 'name', 'userName', 'updatedAt', 'phoneNumber', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['ID', 'name', 'userName', 'updatedAt', 'phoneNumber', 'actions']"></tr>
    </mat-table>
  </div>
</div>


