<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="auth.component.css">
  <title>Login Page</title>
</head>
<body>
  <div class="login-container">
    <h2>АРМ "Отчетность PDF"</h2>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >
      <label for="username">Логин:</label>
      <input type="text"
        id="email"
        class="form-control"
        ngModel
        name="email"
        required
        
      >

      <label for="password">Пароль:</label>
      <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          
        />

      <button [disabled]="!authForm.valid" type="submit">Войти в систему</button>
    </form>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <div *ngIf="error" class="alert">
      <p>{{ error }}</p>
    </div>
  </div>
</body>
</html>