body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E3E8FF;
  }
  
  .login-container {
    background-color: #2B2D40;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 12px;
    background-color: #7F85F6;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #5b62f6;
  }

  button[disabled] {
    background-color: #ccc; /* Grey color for disabled buttons */
    cursor: not-allowed; /* Change cursor for disabled buttons */
}

.alert {
    background-color: #f44336; /* Red */
    color: white;
    padding: 1px;
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
  }
  