<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Icon-button" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="invoice()">
            <mat-icon>receipt</mat-icon>
            Create Invoice PDF
        </button>
        <button mat-menu-item (click)="reports()">
            <mat-icon>assessment</mat-icon>
            Reports
        </button>
        <button mat-menu-item [matMenuTriggerFor]="admin"><mat-icon>settings</mat-icon> Settings</button>
        <mat-menu #admin="matMenu">
            <button mat-menu-item (click)="settings()">
                <mat-icon>build</mat-icon>
                Invoice settings
            </button>
            <button mat-menu-item (click)="users()">
                <mat-icon>group</mat-icon>
                Users
            </button>
        </mat-menu>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Log out {{username}}
        </button>
    </mat-menu>
    <span>АРМ "Отчетность PDF"</span>
    <span class="example-spacer"></span>
    <span>{{username}}</span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="User icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>