<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Иконка" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="invoice()">
            <mat-icon>receipt</mat-icon>
            Создать счет-фактуру PDF
        </button>
        <button mat-menu-item (click)="reports()">
            <mat-icon>assessment</mat-icon>
            Отчеты
        </button>
        <button mat-menu-item *ngIf="isAdmin" [matMenuTriggerFor]="admin"><mat-icon>settings</mat-icon> Настройки</button>
        <mat-menu #admin="matMenu">
            <!-- <button mat-menu-item disabled (click)="settings()">
                <mat-icon>build</mat-icon>
                Настройки счетов-фактур
            </button> -->
            <button mat-menu-item (click)="users()">
                <mat-icon>group</mat-icon>
                Пользователи
            </button>
        </mat-menu>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Выйти {{username}}
        </button>
    </mat-menu>
    <span (click)="invoice()" style="cursor: pointer;">АРМ "Отчетность PDF"</span>
    <span class="example-spacer"></span>
    <span>{{username}}</span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Иконка пользователя"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>