  <mat-card>
    <mat-card-header>
      <mat-card-title>Выгрузить отчет</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #reportForm="ngForm">
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>Контракт</mat-label>
          <input matInput [(ngModel)]="file.contractDate" name="contractDate" required minlength="3">
          <mat-error *ngIf="reportForm.controls['contractDate']?.invalid && (reportForm.controls['contractDate']?.dirty || reportForm.controls['contractDate']?.touched)">
            Контракт не должен быть пустым
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>№ реестра</mat-label>
          <input matInput [(ngModel)]="file.registerNumber" name="registerNumber" required minlength="3">
          <mat-error *ngIf="reportForm.controls['registerNumber']?.invalid && (reportForm.controls['registerNumber']?.dirty || reportForm.controls['registerNumber']?.touched)">
            № реестра не должен быть пустым
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>Дата реестра</mat-label>
          <input matInput [(ngModel)]="file.registerDate" name="registerDate" required minlength="3">
          <mat-error *ngIf="reportForm.controls['registerDate']?.invalid && (reportForm.controls['registerDate']?.dirty || reportForm.controls['registerDate']?.touched)">
            Дата реестра не должна быть пустой
          </mat-error>
        </mat-form-field>  
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>Шапка отчета</mat-label>
          <textarea matInput [(ngModel)]="file.titleInfo" name="titleInfo" required minlength="3" rows="4" cols="50"></textarea>
          <mat-error *ngIf="reportForm.controls['titleInfo']?.invalid && (reportForm.controls['titleInfo']?.dirty || reportForm.controls['titleInfo']?.touched)">
            Шапка отчета не должна быть пустой
          </mat-error>
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end"> 
      <button mat-button (click)="onCancel()">Отмена</button>
      <button mat-button color="primary" [disabled]="reportForm.invalid" (click)="onSave()">Создать отчет</button>
    </mat-card-actions>
  </mat-card>
  